body {
  margin: 30px 60px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* for icon */
.w-6{
  width: 25px;
}
.h-6{
  height: 25px;
}
.icon-wrapper{
  cursor: pointer;
}